.idea/
.vscode/
*.pth
*.onnx
*.pkl
*.pt
*.ckpt
*.ckpt.*

# temp
proPainter-v13/
ProPainter-Webui/ProPainter/weights/
ProPainter/weights/
ProPainter-Webui/
ProPainter/
rembg/
Segment-and-Track-Anything/
U-2-Net/
/Segment-and-Track-Anything
/Track-Anything/
